html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Typography Shrek';
    src: url('SHREK___.TTF') format('truetype');
}

body {

    background-color: #768D42;
    overflow: hidden; /* Prevent scrolling if content exceeds frame */
    font-family: 'Typography Shrek', sans-serif;
    color: #593F24;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: none; /* Ocultar inicialmente */
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 30px;
    font-family: 'Typography Shrek', sans-serif;
    background-color: #593F24; /* Color de Shrek */
    color: #768D42; /* Color de Shrek */
    border: 5px solid #768D42;
    border-radius: 15px;
    cursor: pointer;
    z-index: 100; /* Asegura que esté por encima de todo */
}

#minishrek {
    position: absolute;
    left: 253px;
    top: 80px;
    width: 23px;
    height: 23px;
    z-index: 11;
}

#text_tematica_shrek {
    position: absolute;
    left: 20px;
    top: 550px;
    width: 412px;
    height: 78px;
    font-size: 40px;
    z-index: 10;
    text-align: left;
    width: max-content;   
    max-width: 180px;      
    white-space: normal;
}

#text_mas_detalles {
   background-color: #768D42;;
    position: absolute;
   right: 0;
    top: 580px;
    width: 412px;
    font-size: 14px;
    padding: 1px;
    z-index: 10;
    text-align: left;
    width: max-content;   
    max-width: 150px;      
    white-space: normal;

}

#text_habra_swing {
    position: absolute;
    right: 10px;
    top: 500px;
    height: 40px;
    font-size: 30px;
    z-index: 10;
    text-align: left;
}

#text_habra_jazz {
    position: absolute;
    left: 20px;
    top: 421px;
    width: 412px;
    height: 40px;
    font-size: 32px;
    z-index: 10;
    text-align: left;
}

#text_en_pedro_y_leon {
    position: absolute;
    right: 0;
    top: 335px;
    width: 412px;
    height: 56px;
    font-size: 30px;
    z-index: 10;
    text-align: center;
    width: max-content;   
    max-width: 180px;      
    white-space: normal;
}

#text_dia_20_septiembre {
    position: absolute;
    left: 25px;
    top: 230px;
    width: 412px;
    height: 40px;
    font-size: 32px;
    z-index: 10;
    text-align: left;
}


#text_invitarte_fiesta {
    position: absolute;
    left: 26px;
    top: 115px;
    width: 412px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    z-index: 10;
}

#text_es_de_mi_ogrado {
    width: max-content;   /* ajusta al contenido */
    max-width: 200px;      /* fuerza a que se corte en dos líneas */
    white-space: normal; 
    position: absolute;
    left: 10px;
    right: 0;
    margin: auto;
    top: 35px;
    width: 412px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    z-index: 10;
}

#shrek_1 {
    position: absolute;
    left: -5px;
    top: -3px;
    height: 250px;
    width: auto;
    /* transform: rotate(149.981deg); */
    flex-shrink: 0;
    z-index: 5;
}

#shrek_2 {
    position: absolute;
    right: 0;
    top: -4px;
    height: 121px;
    width: auto;
    z-index: 6;
}

#shrek_3 {
    position: absolute;
    left: 0;
    top: 0px;
    height: 319px;
    width: auto;
    /* transform: rotate(-50.78deg); */
    z-index: 10;
}

#shrek_4 {
    position: absolute;
    right: 0;
    top: 76px;
    height: 300px;
    width: auto;
    z-index: 5;
}

#shrek_5 {
    position: absolute;
    left: 45px;
    top: 168.77px;
    height: 165.78px;
    width: auto;
    opacity: 0.7;
    transform: rotate(-9.17deg);
    z-index: 5;
}

#shrek_6 {
    position: absolute;
    right: 0;
    top: 197px;
    height: 250px;
    width: auto;
    z-index: 4;
}

#shrek_7 {
    position: absolute;
    top: 319px;
    left: 20px;
    height: 151px;
    width: auto;
    z-index: 5;
}

#shrek_8 {
    position: absolute;
    left: 68px;
    top: 331px;
    height: 250px;
    width: auto;
    z-index: 3;
}

#shrek_9 {
    position: absolute;
    right: 0;
    top: 327px;
    height: 300px;
    width: auto;
    opacity: 0.7;
    z-index: 5;
}

#shrek_10 {
    position: absolute;
    top: 480px;
    height: 107.19px;
    width: auto;
    opacity: 0.7;
    z-index: 5;
}

#shrek_11 {
    position: absolute;
   left: 30px;
    top: 675px;
    height: 80px;
    width: auto;
    opacity: 0.7;
    transform: rotate(-163.08deg);
    z-index: 5;
}

#shrek_12 {
    position: absolute;
    top: 539px;
    right: 0;
    height: 200px;
    width: auto;
    opacity: 0.7;
    z-index: 5;
}

#shrek_13 {
    position: absolute;
    left: -2px;
    top: 400px;
    height: 300px;
    width: auto;
    opacity: 0.4;
    /* transform: rotate(-21.7deg); */
    z-index: 1;
}
